################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Release/__pycache__
/x64/Release/.idea
/pyVSomeIp/Debug
/pyVSomeIp/x64/Release/pyVSomeIp.tlog
/pyVSomeIp/x64/Release
/Debug
/.vs/pyVSomeIp/v15
